body {
  background-color: cornsilk;
  font-family: sans-serif;
}

.add-note {
  background-color: #FDFDFD;
  border: 1px solid #CCCCCC;
}

.notes {
  margin: .5em;
  padding-left: 0;

  max-width: 10em;
  list-style: none;
}

.note {
  overflow: auto;

  margin-bottom: .5em;
  padding: .5em;

  background-color: #FDFDFD;
  box-shadow: 0 0 .3em .03em rgba(0, 0, 0, .3);
}
.note:hover {
  box-shadow: 0 0 .3em .03em rgba(0, 0, 0, .7);
  transition: .6s;
}

.note .value {
  display: inline-block;
}

.note .editable {
  float: left;
}

.note .delete {
  float: right;

  padding: 0;

  background-color: #FDFDFD;
  border: none;

  cursor: pointer;

  visibility: hidden;
}

.note:hover .delete {
  visibility: visible;
}
